.footer {
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-col {
  min-width: 250px;
  color: #f2f2f2f2;
  font-family: poppins;
  padding: 0 2rem;
}

.footer-logo {
  width: 100px;
  margin-bottom: 25px;
  filter: saturate(1.5);
}

.footer-col h3 {
  color: #7f20a1;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.footer-col h3::after {
  content: "";
  height: 3px;
  width: 0px;
  background-color: #4f305a;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

.footer-col h3:hover::after {
  width: 30px;
}

.footer-col .footer-social a {
  filter: saturate(1.5);
  color: #4f305a;
  margin-top: 0.5rem;
  margin-right: 15px;
  transition: 0.3s ease;
}

.footer-col .footer-social a i:hover {
  transform: scale(1.5);
  filter: grayscale(25);
}

.footer-col .footer-links a {
  display: block;
  text-decoration: none;
  color: #f2f2f2;
  margin-bottom: 5px;
  position: relative;
  transition: 0.3s ease;
}

.footer-col .footer-links a::before {
  content: "";
  height: 16px;
  width: 3px;
  position: absolute;
  top: 5px;
  left: -10px;
  background-color: #4f305a;
  transition: 0.5s ease;
  opacity: 0;
}

.footer-col .footer-links a:hover::before {
  opacity: 1;
}

.footer-col .footer-links a:hover {
  transform: translateX(-8px);
  color: #72278d;
  filter: saturate(1.5);
}

.footer-col .footer-contact-details {
  display: inline-flex;
  justify-content: space-between;
  filter: saturate(1.5);
}

.footer-col .footer-contact-details p {
  margin-left: 15px;
}

.footer-row .footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.footer-row .footer-form input {
  background-color: #1a1c20ff;
  border: 0;
  outline: none;
  padding: 14px 20px;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.footer-form button {
  padding: 14px 20px;
  border: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #7f20a1;
}

@media (max-width: 900px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-col {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 0;
}
